.columns > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 40px;
}

/* Ensure paddings and borders do not break column layout */
.columns > div,
.columns > div > div {
  box-sizing: border-box;
}

.columns-container {
  background-color: #91c7ed;
}

.columns-container > .default-content-wrapper{
  padding-top: 5px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  border: 1px solid #ccc;
  border-radius: 5px;
  order: 1;
  background-color: white;
}

.columns > div > div > p:first-of-type {
  margin-top: 0;
}

.columns > div > div > p:nth-of-type(2),
.columns > div > div > p:nth-of-type(3) {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* 3 columns for screens larger than 990px */

@media (width >= 991px) {
  .columns > div {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .columns > div > div {
    flex: 0 0 calc((100% - 4rem) / 3);
    max-width: calc((100% - 4rem) / 3);
  }
}

/* 2 columns for screens between 768px and 990px */

@media (768px <= width <= 990px) {
  .columns > div {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .columns > div > div {
    flex: 0 0 calc((100% - 4rem) / 2);
    max-width: calc((100% - 4rem) / 2);
  }
}

/* 1 column for screens less than 768px */

@media (width <= 767px) {
  .columns > div {
    display: flex;
    flex-direction: column;
  }

  .columns > div > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
